.label {
    text-align: center;
    font-weight: 700;
}

.eventDesc {
    display: flex;
    flex-direction: column;
}

.eventDesc > .title {
    font-size: 13px;
    font-weight: 600;
}

.subdesc {
    font-size: 12px;
}
