.layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.tagline {
    margin: 2px 2px 8px;
    text-align: center;
    font-weight: 550;
    font-style: italic;
}

.ruleSectionTitle {
    font-weight: 550;
    font-size: 13px;
    text-decoration: underline;
}

.ruleSectionContent {
    padding-left: 2px;
}

.ruleList {
    margin: 4px 0;
    padding-inline-start: 20px;
    list-style-type: lower-alpha;
}

.ruleList > li::marker {
    font-weight: bold;
}