.body {
    background: rgba(231, 231, 231, 0.25);
    padding-top: 2px;
    padding-bottom: 12px;
}

.title {
    text-align: center;
}

.paynowQRHolder {
    display: flex;
    justify-content: center;
}



