.songTitle {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px;
    text-align: center;
}

.lyricVerticalLayout {
    display: flex;
    flex-direction: column;
}

.lyricSentence {
    text-align: center;
}

.lyricCollapse {
    width: 100%;
    margin-bottom: 10px;
}

.lyricCollapseLabel {
    text-align: center;
    font-weight: 700;
}