.songTitle {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px;
    text-align: center;
}

.songArtist {
    font-size: 14px;
    margin-bottom: 14px;
    text-align: center;
    font-weight: 600;
}

.lyricVerticalLayout {
    display: flex;
    flex-direction: column;
}

.lyricSentence {
    text-align: center;
}