@font-face {
    font-family: "LuxuriousScript";
    src: local("LuxuriousScript"), url("./fonts/LuxuriousScript-Regular.ttf") format("truetype");
}

html, body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}
