.image {
    width: 150px;
    height: 150px;
}

.simpleRuleWrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.centerText {
    text-align: center;
}

.justifyText {
    text-align: justify;
    text-justify: inter-word;
}
